{% extends "base.html" %}
{% block title %}mir-app-register-vessel{% endblock title %}

{%block inner_body %}

            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <!--<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>-->
                            <h1 class="fw-bolder">Register your vessel</h1>
                            <!--<p class="lead fw-normal text-muted mb-0">As an owner</p>-->
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form id="vesselRegistrationForm" method="post"  action="/owner/{{ owner_id }}/vessel-registration/">
                                    {% csrf_token %}

                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="id_vessel_name" name="vessel_name"  type="text"/>
                                        <label for="id_vessel_name">vessel name</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="id_vessel_id" name="vessel_id"  type="text"/>
                                        <label for="id_vessel_id">vessel id</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="id_mmsi_id" name="mmsi_id"  type="text"/>
                                        <label for="id_mmsi_id">mmsi id</label>
                                    </div>

                                     <div class="form-floating mb-3">
                                        <input class="form-control" id="id_ce_id" name="ce_id"  type="text"/>
                                         <label for="id_ce_id">ce id</label>
                                     </div>

                                     <div class="form-floating mb-3">
                                         <!--<label for="id_vessel_type" class="form-label">Vessel type</label>-->
                                         <h4>Vessel type</h4>
                                         <select id="id_vessel_type" name="vessel_type" class="form-select">
                                              <option value="0">Select</option>
                                              {% for vessel_type in vessel_types %}
                                                <option value={{ vessel_type.type }}>{{ vessel_type.type }}</option>
                                              {% endfor %}
                                         </select>
                                    </div>

                                     <div class="form-floating mb-3">
                                         <!--<label for="id_vessel_type" class="form-label">Vessel type</label>-->
                                         <h4>Propulsion type</h4>
                                         <select id="id_propulsion_type" name="propulsion_type" class="form-select">
                                              <option value="0">Select</option>
                                              {% for propulsion_type in propulsion_types %}
                                                <option value={{ propulsion_type }}>{{ propulsion_type }}</option>
                                              {% endfor %}
                                         </select>
                                    </div>

                                     <div class="form-floating mb-3">
                                         <!--<label for="id_vessel_type" class="form-label">Vessel type</label>-->
                                         <h4>Hull constructon material type</h4>
                                         <select id="id_construction_material_type" name="construction_material_type" class="form-select">
                                              <option value="0">Select</option>
                                              {% for construction_type in construction_types %}
                                                <option value={{ construction_type }}>{{ construction_type }}</option>
                                              {% endfor %}
                                         </select>
                                    </div>




                                    <!-- Submit success message-->
                                    <!---->
                                    <!-- This is what your users will see when the form-->
                                    <!-- has successfully submitted-->
                                   <!-- <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Form submission successful!</div>
                                            To activate this form, sign up at
                                            <br />
                                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                        </div>
                                    </div>-->
                                    <!-- Submit error message-->
                                    <!---->
                                    <!-- This is what your users will see when there is-->
                                    <!-- an error submitting the form-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="ownerLoginSubmitButton" type="submit">Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!--<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
{% endblock inner_body %}
