{% extends "base.html" %}
{% block title %}mir-app-{{owner_name}}{% endblock title %}

{%block inner_body %}

 <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">
                        <a href="">Not valid subscription view</a></h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4"></h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <p>You do not have a valid subscription plan. Please renew your subscription. You can checkout the
                                available options here <a href="{% url 'pricing' %}"> Subscription plans</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock inner_body %}