{% extends "base.html" %}
{% block title %}mir-app-{{owner_name}}{% endblock title %}

{%block inner_body %}

            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4"><a href="https://trello.com/c/2I7wpB1n/27-rv-50-owner-profile-view">RV. 5.0 Owner profile view</a></h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Your vessels</h2>

                            {% if vessels %}
                            {% for vessel in vessels %}
                                <div class="mb-4">
                                    <a class="link-dark" href="{% url 'vessel_profile' owner_id=owner_id vessel_id=vessel.0 %}"><h3>{{vessel.1}} | {{vessel.2}}</h3></a>
                                </div>
                            {% endfor %}
                            {% else %}
                                <div class="mb-4">
                                    <h3>You haven't register any vessel yet. Register one.</h3>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- <h2 class="fw-bolder fs-5 mb-4">Featured Stories</h2>-->
                    <div class="row gx-5">

                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                                <div class="card-body p-4">
                                    <!--<div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>-->
                                    <a class="text-decoration-none link-dark stretched-link" href="{% url 'vessel_registration' owner_id=owner_id %}"><div class="h5 card-title mb-3">Register a vessel</div></a>
                                    <!--<p class="card-text mb-0">Some quick example text to build on the card
                                    title and make up the bulk of the card's content.</p>-->
                                </div>
                                <!--<div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold">Kelly Rowan</div>
                                                <div class="text-muted">March 12, 2022 &middot; 6 min read</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>


                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                                <div class="card-body p-4">
                                    <!--<div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>-->
                                    <a class="text-decoration-none link-dark stretched-link" href="{% url 'view_owner_survey_requests' owner_id %}"><div class="h5 card-title mb-3">My survey requests</div></a>
                                    <!--<p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height
                                        of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                                <div class="card-body p-4">
                                    <!--<div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>-->
                                    <a class="text-decoration-none link-dark stretched-link"
                                       href="{% url 'subscription_view' owner_id=owner_id %}"><div class="h5 card-title mb-3">My subscription</div></a>
                                    <!--<p class="card-text mb-0">Some more quick example text to build on the card title
                                    and make up the bulk of the card's content.</p>-->
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold">Evelyn Martinez</div>
                                                <div class="text-muted">April 2, 2022 &middot; 10 min read</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end mb-5 mb-xl-0">
                        <a class="text-decoration-none" href="#!">
                            More stories
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </section>
{% endblock inner_body %}


