{% extends "base.html" %}
{% block title %}mir-app-{{owner_name}}-sureys{% endblock title %}

{%block inner_body %}

            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4"><a href="https://trello.com/c/3tK5GX3s/29-rv90-owner-surveys-view">RV.9.0 Owner: Surveys view</a></h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Your surveys in progress</h2>
                            <hr/>

                             {% if in_progress_surveys %}


                                <table class="table table-hover">
                                <thead>
                                  <tr>
                                      <th>Vessel name</th>
                                      <th>Survey type</th>
                                       <th>Date started</th>
                                       <th>Survey ID</th>
                                      <!--<th>Status</th>-->
                                      <th>Further actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for survey in in_progress_surveys %}
                                  <tr>
                                    <td><a href="{% url 'generate-condition-survey'  owner_id vessel_id survey.0 %}">{{ survey.1}}</a></td>
                                    <td>{{ survey.2 }}</td>
                                    <td>{{ survey.3 }}</td>
                                      <!--<td>{{ survey.3 }}</td>-->
                                      <td>{{ survey.0 }}</td>
                                      <td><a class="btn btn-outline-danger"
                                             href="{% url 'delete-owner-vessel-survey' owner_id survey.0 %}" role="button">Delete</a></td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                             {% else %}
                              <h4 class="fw-bolder fs-5 mb-4">You have no surveys in progress</h4>
                             {% endif %}

                        </div>
                    </div>
                </div>
            </section>

                <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Your surveys requests</h2>
                            <hr/>

                            {% for survey in completed_surveys_reqs %}
                                <li><a href="{% url 'view_owner_survey_request_summary' owner_id vessel_id survey.0 %}">{{ survey.1}}-{{ survey.2 }}-{{ survey.3 }} </a> | {{ survey.4 }}</li>
                            {% endfor %}

                            {% for survey in in_progress_surveys_reqs %}
                                <li>
                                    {{ survey.1}}.{{ survey.2 }}.{{ survey.3 }}.{{ survey.0 }}  | {{ survey.4 }}
                                    <a class="btn btn-outline-danger" href="{% url 'delete-owner-vessel-survey' owner_id survey.0 %}" role="button">Delete</a>
                                </li>
                            {% endfor %}

                            {% for survey in pending_surveys_reqs %}
                                <li>
                                    {{ survey.1}}.{{ survey.2 }}.{{ survey.3 }}.{{ survey.0 }}  | {{ survey.4 }}
                                    <a class="btn btn-outline-danger" href="{% url 'delete-owner-vessel-survey' owner_id survey.0 %}" role="button">Delete</a>
                                </li>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </section>

{% endblock inner_body %}


