{% extends "base.html" %}
{% block title %}mir-app-condition-survey-view{% endblock title %}

{%block inner_body %}

            <!-- Page Content-->
            <section class="py-5" xmlns="http://www.w3.org/1999/html">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">
                        <a href="https://trello.com/c/GwB4iyG0/37-rv140-surveyor-survey-view">RV.14.0 Surveyor survey view</a></h1>
                </div>
            </section>

            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Survey  information</h2>
                            <hr/>
                            <p>In this area the surveyor will be able to view the details
                            of the survey that is requested.</p>
                             <ul>
                                <li>Survey type: {{ survey_name }}</li>
                                <li>Request date: {{ request_date }}</li>
                                <li>Number of total photos: {{ n_total_photos }}</li>
                                <li>State: {{ survey_request_state }}</li>
                                 <li>Date started: {{ request_date }}</li>
                            </ul>
                        </div>
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Vessel information</h2>
                            <hr/>
                            <p>In this area the surveyor will be able to view the details
                            of the vessel that the application captures when the owner registers
                            the vessel.</p>
                            <ul>
                                <li>Name: {{name}}</li>
                                <li>MMSI/CE: {{ mmsi }}</li>
                                <li>Length: {{ length }}</li>
                                <li>Beam: {{ beam }}</li>
                                <li>Propulsion type: {{ propulsion_type }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

           <section class="py-5 bg-light">

                <div class="container px-5 my-5">
                     <p>When the surveyor clicks on the <em>Start survey</em> button, the survey changes status
                         from PENDING to IN_PROGRESS. If the surveyor clicks on the <em>Reject survey</em>
                         button, the survey is rescheduled to other surveyors and the current surveyor is redirected to
                         a view to provide details about the reasons rejecting the survey (Not for MVP)
                     </p>
                     <a class="btn btn-lg btn-outline-dark" href="{% url 'surveyor-start-survey' surveyor_id survey_id %}">Start survey</a>
                     <a class="btn btn-lg btn-outline-danger" href="{% url 'surveyor-submit-survey' surveyor_id survey_id %}">Reject survey</a>
                    <p>By submitting the survey you agree to T&Cs</p>
                </div>
           </section>

{% endblock inner_body %}


