{% extends "base.html" %}
{% block title %}mir-app-{{owner_name}}{% endblock title %}

{%block inner_body %}

            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4"><a href="https://trello.com/c/P336rxOD/36-rv60-surveyor-profile-view">RV.6.0 Surveyor profile view</a></h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Hello {{surveyor_name}}</h2>
                        </div>

                        <div class="col-xl-12">
                            <h2 class="fw-bolder fs-5 mb-4">Your survey requests</h2>
                            <hr/>

                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                      <th>Vessel name</th>
                                      <th>Survey type</th>
                                      <th>Date requested</th>
                                       <th>Date started</th>
                                      <th>Remaining days for submission</th>
                                       <th>Survey ID</th>
                                      <th>Survey status</th>
                                      <th>Further actions</th>
                                  </tr>
                                </thead>
                                <tbody>

                            {% for survey_req in survey_reqs %}
                                <tr>
                                    <td><a href="{% url 'surveyor-survey-view' surveyor_id survey_req.3 %}">{{survey_req.0}}</a></td>
                                    <td>{{survey_req.1}}</td>
                                    <td>{{survey_req.2}}</td>
                                    <td>-</td>
                                    <td>10</td>
                                    <td>{{ survey_req.3 }}</td>
                                    <td>{{ survey_req.4}}</td>
                                    <td><button class="btn btn-outline-danger">Reject survey</button> </td>
                                  </tr>
                            {% endfor %}
                                    </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </section>

{% endblock inner_body %}


