{% extends "base.html" %}
{% block title %}mir-app-condition-survey-view{% endblock title %}

{%block inner_body %}

            <!-- Page Content-->
            <section class="py-5" xmlns="http://www.w3.org/1999/html">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4"><a href="https://trello.com/c/GwB4iyG0/37-rv140-surveyor-survey-view">RV.14.0 Surveyor survey view</a></h1>
                </div>
            </section>

            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Vessel parts to survey</h2>
                            <ul>
                            {% for vessel_part in vessel_parts %}
                              <li>
                                  <a href="#">{{ vessel_part.0 }} (A structure consisting of many parts to survey)</a>

                                  {% for sub_part in vessel_part.1 %}
                                    <li>
                                      <a href="{% url 'surveyor-vessel-part-subpart-images' surveyor_id survey_id  vessel_part.0 sub_part.0 %}">
                                          {{ sub_part.0 }}</a> | {{ sub_part.1 }}
                                    </li>
                                  {% endfor %}

                              </li>
                            {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </section>


           <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <a class="btn btn-lg btn-primary" href="{% url 'surveyor-submit-survey' surveyor_id survey_id %}">Submit survey</a>
                    <p>By submitting the survey you agree to T&Cs</p>

                    <div class="container px-5 my-5">
                    <a class="btn btn-lg btn-primary" href="#">Save survey</a>
                </div>
                </div>
           </section>

            <section class="py-5 bg-light">

           </section>
            <!-- Blog preview section-->
{% endblock inner_body %}


