{% extends "base.html" %}
{% block title %}mir-app-condition-survey-view{% endblock title %}

{%block inner_body %}

 <!-- Page Content-->
            <section class="py-5" xmlns="http://www.w3.org/1999/html">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">
                        <a href="https://trello.com/c/GwB4iyG0/37-rv140-surveyor-survey-view">Surveyor write survey view</a></h1>
                </div>
            </section>

           <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Vessel information</h2>
                             <ul>
                            <li>Name: {{name}}</li>
                            <li>MMSI/CE: {{ mmsi }}</li>
                            <li>Length: {{ length }}</li>
                            <li>Beam: {{ beam }}</li>
                            <li>Propulsion type: {{ propulsion_type }}</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </section>


    <section class="py-5 bg-light">
           <div class="container px-5">
               <form id="vesselPartGetPreviewForm" method="post"  action=".">
                         {% csrf_token %}

                           <div class="form-floating mb-3">
                               <h2 class="fw-bolder fs-5 mb-4">Operational profile</h2>
                               <hr/>
                               <select id="id_vessel_type" name="survey_type" class="form-select">
                                     <option value="0">Select</option>
                                     <option value="green">Green: Safe to operate</option>
                                     <option value="yellow">Yellow: Restrictive operation</option>
                                     <option value="red">Red: Unsafe to operate</option>
                               </select>
                           </div>

                           <div class="form-floating mb-3">
                                 <h4 class="fw-bolder fs-5 mb-4">Executive summary (required)</h4>
                                 <textarea name="editor"></textarea>
                           </div>
                          <script src="//cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>

                         <script>
                             CKEDITOR.replace( 'editor' );
                         </script>

                         {% if error_message %}
                            <p  style="font-size:14px; color:red; font-weight:bold; font-style:italic;">{{ error_message }}.</p>
                         {% endif %}

                         <div class="text-end mb-5 mb-xl-0">
                             <a class="btn btn-lg btn-outline-dark" href="{% url 'write-survey' surveyor_id survey_id 0 %}">
                                 <i class="bi bi-arrow-left"></i>
                                 Previous item

                             </a>
                             <a class="btn btn-lg btn-outline-dark" href="{% url 'write-survey' surveyor_id survey_id 0 %}">
                                Save & exit
                             </a>
                             <a class="btn btn-lg btn-outline-dark" href="{% url 'write-survey' surveyor_id survey_id 0 %}">
                                Save & submit
                                <i class="bi bi-arrow-right"></i>
                             </a>
                             <p>By submitting the photos you agree to T&Cs</p>
                         </div>
               </form>
           </div>
    </section>







{% endblock inner_body %}