{% extends "base.html" %}
{% block title %}mir-app-condition-survey-view{% endblock title %}

{%block inner_body %}

 <!-- Page Content-->
            <section class="py-5" xmlns="http://www.w3.org/1999/html">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">
                        <a href="https://trello.com/c/GwB4iyG0/37-rv140-surveyor-survey-view">Surveyor write survey view</a></h1>
                </div>
            </section>

           <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Vessel information</h2>
                             <ul>
                            <li>Name: {{name}}</li>
                            <li>MMSI/CE: {{ mmsi }}</li>
                            <li>Length: {{ length }}</li>
                            <li>Beam: {{ beam }}</li>
                            <li>Propulsion type: {{ propulsion_type }}</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </section>


<form id="vesselPartPhotoForm"
      enctype="multipart/form-data"
      method="post"
      action=".">

    {% csrf_token %}
    <section class="py-5 bg-light">
         <div class="container px-5">
              <div class="row gx-5">
                <div class="col-xl-8">
                    <h2 class="fw-bolder fs-5 mb-4">{{ item_wrapper_type }}</h2>
                    <hr/>
                </div>

            {% for item in item_wrapper_parts %}

                        <div class="col-xl-8">
                                <h3 class="fw-bolder fs-5 mb-4">{{ item }}</h3>
                                <hr/>
                                <div class="form-floating mb-3">

                                         <table id="findingsTable" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Finding Id</th>
                                                    <th>Finding description</th>
                                                    <th>Severity level</th>
                                                    <th>Image evidence</th>
                                                    <th>Recommendations</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1.1.1</td>
                                                    <td>Found a hole</td>
                                                    <td>Minor</select></td>
                                                    <td>img-1</select></td>
                                                    <td>Look at a big hole on your vessel</td>
                                                    <td><a href="#">Edit</a>/<a href="#">Delete</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.1.2</td>
                                                    <td>Found a hole</td>
                                                    <td>Serious</td>
                                                    <td>img-2</td>
                                                    <td>Look at a big hole on your vessel</td>
                                                    <td><a href="#">Edit</a>/<a href="#">Delete</a></td>
                                                </tr>
                                            </tbody>
                                         </table>
                                </div>
                        </div>

{% endfor %}

                          <div class="form-floating mb-3">
                              <h5>General comments on the {{ item_wrapper_type }} <a href="#">Edit</a>/<a href="#">Delete</a></td></h5>
                              <textarea name="editor"></textarea>
                          </div>
                          <script src="//cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
                          <script>CKEDITOR.replace( 'editor' );</script>
                    </div>
                </div>
            </section>

    <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5">
                    <div class="text-end mb-5 mb-xl-0">
                        <a  class="btn btn-lg btn-outline-dark" href="{% url 'write-survey' surveyor_id survey_id 1 %}">
                            Next item
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </section>

</form>



{% endblock inner_body %}