{% extends "base.html" %}
{% block title %}mir-app-condition-survey-view{% endblock title %}

{%block inner_body %}

            <!-- Page Content-->
<section class="py-5" xmlns="http://www.w3.org/1999/html">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">
                        <a href="https://trello.com/c/NyQfUrdN/7-rv190-generate-condition-vessel-survey">RV.19.0 Generate Condition vessel survey</a>
                    </h1>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="p-4 p-md-5">
                                    <p>Hello {{ owner_name }}.</p>
                                <p>Let's check the condition of your vessel {{ vessel_name }}.
                                    We have split your vessel into sections to make it easier to survey.
                                    Each vessel part consists of  several subparts for you to look into. You need to upload minimum
                                    2 images and maximum of 5 images per subpart.</p>
                                    <p>
                                    This may take some time
                                    but you can always save the survey and come back later.</p>
                                    <p><a href="#">Review vessel survey guidelines.</a></p>
                                </div>
                                <!--<div class="p-4 p-md-5">
                                <p><a href="#">Review vessel survey guidelines.</a></p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5">
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <h2 class="fw-bolder fs-5 mb-4">Vessel parts to survey</h2>
                            <hr/>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                    <th>Structure</th>
                                    <th>Completed</th>
                                    <th>Total number of photos</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for vessel_part in vessel_parts %}

                                      <tr>
                                        <td><a href="{% url 'vessel-part-survey-parts' owner_id survey_id vessel_part.0 %}">{{ vessel_part.1 }}</a></td>
                                        <td>{{ vessel_part.2 }}</td>
                                        <td>0</td>
                                      </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <section class="py-5 bg-light">

                 <div class="container px-5 my-5">
                     {% if error_message %}
                        <p  style="font-size:14px; color:red; font-weight:bold; font-style:italic;">{{ error_message }}</p>
                         <p></p>
                     {% endif %}
                     <form id="vesselPartGetPreviewForm" method="post"
                           action="{% url 'generate-condition-survey' owner_id vessel_id survey_id %}">
                         {% csrf_token %}
                                      <button class="btn btn-primary btn-lg" id="ownerLoginSubmitButton" type="submit">Submit survey</button>
                         <p>By submitting the photos you agree to T&Cs</p>
                     </form>
                 </div>
            </section>
{% endblock inner_body %}


