{% extends "base.html" %}
{% block title %}mir-app-photo-preview{% endblock title %}


{%block inner_body %}

            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder"><a href="https://trello.com/c/TXhPElpY/45-rv220-vessel-part-survey-photos-preview">RV.22.0 Vessel-part survey photos preview</a></h1>
                        <p class="lead fw-normal text-muted mb-0">Preview photos for {{vessel_part}}/{{vessel_subpart}}</p>
                    </div>
                    <div class="row gx-5">
                        {% if error_message %}
                          <p  style="font-size:14px; color:red; font-weight:bold; font-style:italic;">An error occurred whilst submitting the images.</p>
                       {% endif %}
                        <hr/>
                        {% for image in images %}
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
                                <!--<img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />-->
                                <img class="img-fluid rounded-3 mb-3" width="300" height="300" src="{{ media_url }}/{{ image.0 }}" alt="..." />
                                <a class="h4 fw-bolder text-decoration-none link-dark stretched-link"
                                   href="{% url 'owner-view-photo' owner_id survey_id vessel_part survey_part_id image.2 %}">{{ image.1 }}</a>
                            </div>
                        </div>
                        {% endfor %}

                        {% if add_more_photos_btn %}


                         `  <div class="container px-5 my-5">
                              <a href="{% url 'take-survey-photo-view' owner_id survey_id  vessel_part survey_part_id %}"
                                 class="btn btn-success" id="ownerLoginSubmitButton" type="submit">Add more photos</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">

                 <div class="container px-5 my-5">

                     <form id="vesselPartGetPreviewForm" method="post"
                           action="{% url 'vessel-part-subpart-image-preview' owner_id survey_id  vessel_part survey_part_id %}">
                         {% csrf_token %}
                         <div class="container px-5 my-5">
                              {% if error_message %}
                        <p  style="font-size:14px; color:red; font-weight:bold; font-style:italic;">{{ error_message }}.</p>
                     {% endif %}
                                      <button class="btn btn-primary" id="ownerLoginSubmitButton" type="submit">Submit photos</button>
                             <p>By submitting the photos you agree to T&Cs</p>
                         </div>



                     </form>
                 </div>


                <!--<div class="container px-5 my-5">
                      <a href="{% url 'vessel-surveys-in-progress' owner_id vessel_id  %}"
                         class="btn btn-primary btn-lg" id="ownerLoginSubmitButton" type="submit">Save for later</a>
                 </div>-->

            </section>
{% endblock inner_body %}