{% extends "base.html" %}
{% block title %}mir-app-login{% endblock title %}

{%block inner_body %}

            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">
                                <a href="https://trello.com/c/bMfHFlbC/2-rv-21-login-owner-on-mir-app">RV. 2.1 Login owner on mir-app</a>
                            </h1>
                            <p class="lead fw-normal text-muted mb-0">As an owner</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form id="ownerLoginForm" method="post"  action="/login/">
                                    {% csrf_token %}

                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="id_owner_email" name="owner_email" type="email"
                                               placeholder="name@example.com" data-sb-validations="required,email" />
                                        <label for="id_owner_email">email address</label>


                                        {% if error_email %}
                                         <p  style="font-size:14px; color:red; font-weight:bold; font-style:italic;">{{ error_email }}.</p>
                                        {% endif %}

                                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                    </div>

                                    <!-- password input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="id_owner_password" name="owner_password"
                                               type="password" placeholder="Enter your password..." data-sb-validations="required" />
                                        <label for="id_owner_password">password</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A valid password is required.</div>
                                        <p><a href="{% url 'forget-password' %}">Forgot password?</a></p>
                                    </div>

                                    <!-- This is what your users will see when there is-->
                                    <!-- an error submitting the form-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="ownerLoginSubmitButton" type="submit">Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <!--<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>-->
                            <p class="lead fw-normal text-muted mb-0">Don't have an account? <a href="{% url 'signup' %}">Sign up</a> </p>
                        </div>
                    </div>
                </div>
            </section>


             <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder"><a href="https://trello.com/c/bWKdwljn/35-rv22-login-surveyor-on-mir-app">RV.2.2 Login surveyor on mir-app</a></h1>
                            <p class="lead fw-normal text-muted mb-0">As a surveyor</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form id="surveyorLoginForm" method="post"  action="/login/">
                                    {% csrf_token %}

                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="id_surveyor_email" name="surveyor_email" type="email"
                                               placeholder="name@example.com" data-sb-validations="required,email" />
                                        <label for="id_surveyor_email">email address</label>
                                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                    </div>

                                    <!-- password input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="id_surveyor_password" name="surveyor_password"
                                               type="password" placeholder="Enter your password..." data-sb-validations="required" />
                                        <label for="id_owner_password">password</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A valid password is required.</div>
                                        <p><a href="{% url 'forget-password' %}">Forgot password?</a></p>
                                    </div>


                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="surveyorLoginSubmitButton" type="submit">Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <!--<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>-->
                            <p class="lead fw-normal text-muted mb-0">Don't have an account? <a href="{% url 'signup' %}">Sign up</a> </p>
                        </div>
                    </div>
                </div>
            </section>
{% endblock inner_body %}
