{% extends "base.html" %}
{% block title %}mir-app-reset-pass-success{% endblock title %}

{%block inner_body %}


 <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder"><a href="https://trello.com/c/c9M5WTQy/31-rv120-forget-password-view">RV.12.0 Forget password view</a></h1>
                            <p class="lead fw-normal text-muted mb-0">Please provide  your registered email address so we can send you a reset link.</p>
                        </div>



                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                We have sent you a reset link at supplied email.
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endblock inner_body %}